---
layout: default
---



{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination">
  <li>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a> 
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}
  </li>

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active"><a href="javascript:void(0)">{{ page }}</a></li>
    {% elsif page == 1 %}
       <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li><span>Next &raquo;</span></li>
  {% endif %}
{% endif %}
  

  </ul> 
</nav>

<!-- This loops through the paginated posts -->
<div class="home">
 <ul class="post-list">
{% for post in paginator.posts %}

  <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div class="panel panel-default">

        
          <div class="panel-heading">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
        {% assign tag_color = 'label label-primary' %}
        
        {% if post.categories contains 'design_pattern' %}
          {% assign tag_color = 'label label-danger' %}
        {% endif%}

        {% if post.categories contains 'go' %}
          {% assign tag_color = 'label label-info' %}
        {% endif%}

        {% if post.categories contains 'java' %}
          {% assign tag_color = 'label label-warning' %}
        {% endif%}

        {% if post.categories contains 'algorithm' %}
          {% assign tag_color = 'label label-success' %}
        {% endif%}
        <div class="panel-body">
        tags: <span class='{{tag_color}}'>{{ post.categories }}</span>
        <hr width= 30%/>

        {{ post.excerpt }}
      
      {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img width=20% height=20% {{ html }} />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}
      </div> 
      <br/><br/>
    </div>
      </li>
{% endfor %}
</ul> 

<!-- </div> -->
</div>


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
