---
layout: default
---
<div class="home">
<!-- <div class="container theme-showcase" role="main"> -->

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        tags: <span class="label label-primary">{{ post.categories }}</span>
        <hr width= 30%/>
        {{ post.excerpt }}

      {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img width=20% height=20% {{ html }} />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}
      <br/><br/>
      <hr/>
      </li>
    {% endfor %}
  </ul> 

<!-- </div> -->
</div>
