<header class="site-header">

 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ site.title }}</a>


          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for page in site.pages %}
              {% if page.title %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
        
            {% endfor %}


          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>                
                  <form onsubmit="my_search_google()" >
                    <div style="width:300px; margin-top:10px">
                      <input type="text" id="my-google-search" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                    </div>
                  </form>
            </li>           
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

</header>
